Temp/
ipch
ipch/
GPUCache/
.vs/
node_modules/
.vscode/
bin/
lib/
*/lib/
3rd/
doxygen/
build/
build_test/
build_temp/
*/Temp/*
*.TMP

*.sdf
*.suo
*.opensdf

# com
*_i.c
*_i.h
*_p.c

*.aps

*.ilk
*.exp
*.dll
*.exe
*.iobj
*.ipdb
*.aps